@import "~bootstrap/scss/bootstrap";
@import 'node_modules/react-modal-video/scss/modal-video.scss';
@import "swiper/css/bundle"; 
@import '../../public/assets/scss/main.scss';
@import "bootstrap-icons/font/bootstrap-icons.css";

.tp-btn-zikzak .zikzak-content {
  position: absolute;
  top: -17px;
  left: 27px;
  padding-left: 0;
}

.tp-header-3-area.header-sticky .tp-header-3-right {
  display: inline-block !important;
}

.tp-header-3-bar {
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  color: var(--tp-common-black);
  border: 1px solid var(--tp-common-black);
  transition: 0.3s;
  margin-left: 15px;
  border-radius: 50%;
  background : white;
  position: fixed;
  right: 10px;
  
}

.pt-20px {
  padding-top: 20px !important;
}

.mt-10percent {
  padding-top: 10% !important;
}

.mr-20px {
  margin-right: 20px !important;
}

.mb-20px {
  margin-bottom: 20px !important;
}

.tp-hero-3-circle-shape {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.tp-hero-3-circle-shape2 {
  position: absolute;
  top:110%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.tp-hero-3-circle-shape2 span {
  height: 480px;
  width: 460px;
  display: inline-block;
  filter: blur(35px);
  border-radius: 62% 47% 82% 35%/45% 45% 80% 66%;
  background: linear-gradient(220deg, rgba(148, 254, 98, 0.5) 0.77%, rgba(255, 226, 122, 0.5) 55.4%, rgba(234, 94, 94, 0.5) 100%);
}

.menu-bg {
  position: absolute;
  top: 20px;
  display: inline-block;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background: rgba(46, 46, 46, 0.9);
  border-radius: 100px;
  z-index: -1;
}

.tp-header-3-menu-box {
  display: inline-block;
  padding: 0px 15px;
  padding-right: 30px;
  padding-top: 20px;
}

.tp-btn-black-2 {
  height: 60px;
  line-height: 55px;
  border-radius: 40px;
  padding: 0 18px 0 24px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.03em;
  z-index: 9;
  overflow: hidden;
  display: inline-block;
  text-transform: capitalize;
  position: relative;
  transition: all 0.3s;
  background-color: var(--tp-common-black);
  color: var(--tp-common-white);
  border: 2px solid transparent;
  margin-top: 35px;
  margin-bottom: 20px;
}

.tp-hero-3-category-2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  display: block;
  color: var(--tp-common-black);
  font-family: var(--tp-ff-marcellus);
  margin-bottom: 20px;
  
}

.tp-hero-3-category-3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  display: block;
  color: var(--tp-common-black);
  font-family: var(--tp-ff-marcellus);
  margin-bottom: 20px;
}

.tp-hero-3-category {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.7;
  display: block;
  text-transform: uppercase;
  color: var(--tp-common-black);
  font-family: var(--tp-ff-marcellus);
  margin-bottom: 20px;
}

.tp-cta-btn-box {
  position: absolute;
  bottom: 25%;
  left: 17%;
}

@media (max-width: 767px) {
    .tp-cta-btn-box {
        position: static;
        margin-top: 20px;
    }
}

.tp-hero-3-title-p {
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: normal;
  color: var(--tp-common-black);
  font-family: var(--tp-ff-marcellus);
  margin-bottom: 35px;
}

.tp-service-2-area {
  margin-top: 25px;
}


.sv-service-content-wrap {
  height: 100%;
  width: 100%;
  padding: 110px;
  background-color: var(--tp-common-black-2);
  border-top: 2px solid #333333;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sv-service-content-wrap {
    padding: 80px;
  }
}
@media (max-width: 767px) {
  .sv-service-content-wrap {
    padding: 80px 30px;
  }
}

.tp-hero-3-title {
  font-size: 140px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -5.6px;
  color: var(--tp-common-black);
  font-family: var(--tp-ff-marcellus);
  margin-bottom: 35px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-hero-3-title {
    font-size: 115px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-hero-3-title {
    font-size: 95px;
  }
}
@media (max-width: 767px) {
  .tp-hero-3-title {
    font-size: 55px;
    letter-spacing: -4.6px;
  }
}

.tm-hero-title-big {
  font-size: 200px;
  font-weight: 500;
  line-height: 0.9;
  letter-spacing: -12px;
  color: var(--tp-common-black-2);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tm-hero-title-big {
    font-size: 180px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tm-hero-title-big {
    font-size: 140px;
  }
}
@media (max-width: 767px) {
  .tm-hero-title-big {
    font-size: 90px;
    letter-spacing: -5px;
  }
}

.btn-close {
    position: absolute;
    top: 45px;
    right: 60px;
    z-index: 99999999999;
    padding: 0;
    margin: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: var(--tp-common-black);
    background-color: #fff !important;
    border: 1px solid rgba(25, 25, 26, 0.2);
    opacity: 1;
    transition: 0.3s;
}

.border-image-gallery-one {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.tp-hero-3-ptb {
  padding-top: 100px;
  padding-bottom: 70px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-hero-3-ptb {
    padding-top: 170px;
  }
}
@media (max-width: 767px) {
  .tp-hero-3-ptb {
    padding-top: 150px;
  }
}

.tp-btn-black-2 {
  height: 60px;
  line-height: 55px;
  border-radius: 40px;
  padding: 0 18px 0 24px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.03em;
  z-index: 9;
  overflow: hidden;
  display: inline-block;
  text-transform: capitalize;
  position: relative;
  transition: all 0.3s;
  background-color: var(--tp-common-black);
  color: var(--tp-common-white);
  border: 2px solid transparent;
  margin-bottom: 50px;
  margin-top: 20px;
}

/* Positionner en bas de l'écran */
.bounce-arrow-wrapper {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
}



/* Animation */
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(6px); }
}
.bounce {
  animation: bounce 1.2s infinite ease-in-out;
  will-change: transform;
}
.bounce-stack .bounce:nth-child(1) { animation-delay: 0ms; }
.bounce-stack .bounce:nth-child(2) { animation-delay: 200ms; }
.bounce-stack .bounce:nth-child(3) { animation-delay: 400ms; }


.tp-hero-3-area {
  position: relative;
  min-height: 100vh; /* occupe tout l’écran */
}

/* Dégradé gris */
.arrow-dark { color: #292929; }       /* noir */
.arrow-gray { color: #666; }       /* gris moyen */
.arrow-light { color: #888888; }      /* gris clair */

/* Responsive : agrandir sur mobile */
@media (max-width: 767.98px) {
  .bounce-arrow-wrapper .bi {
    font-size: 2.25rem !important; /* flèches plus grandes */
  }
  .bounce-arrow-wrapper span {
    font-size: 1.25rem !important; /* texte plus grand */
  }

  .bounce-arrow-wrapper {
  position: absolute;
  bottom: 9rem;
  left: 50%;
  transform: translateX(-50%);
}

}

.tp-section-title-200 span {
  padding-left: 0px;
}

.bounce-arrow-wrapper1 {
  position: absolute;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
}


@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1200px;
  }
  .container-1630 {
    max-width: 1630px;
  }
  .container-1400 {
    max-width: 1400px;
  }
  .container-1480 {
    max-width: 1480px;
  }
  .container-1740 {
    max-width: 1740px;
  }
  .container-1770 {
    max-width: 1770px;
  }
  .container-1330 {
    max-width: 1330px;
  }
  .container-1380 {
    max-width: 1380px;
  }
  .container-1800 {
    max-width: 1800px;
  }
  .container-1300 {
    max-width: 1300px;
  }
  .container-1720 {
    max-width: 1720px;
  }
  .container-1480 {
    max-width: 1480px;
  }
  .container-1430 {
    max-width: 1430px;
  }
  .container-1870 {
    max-width: 1870px;
  }
  .container-1775 {
    max-width: 1775px;
  }
  .container-1840 {
    max-width: 1840px;
  }
  .container-1650 {
    max-width: 1650px;
  }
  .container-1560 {
    max-width: 1560px;
  }
  .container-1500 {
    max-width: 1500px;
  }
  .container-1530 {
    max-width: 1530px;
  }
  .container-1550 {
    max-width: 1550px;
  }
}
.container-1685 {
  max-width: 1685px;
}

@media only screen and (min-width: 1400px) and (max-width: 1920px) {
  .container-1685 {
    padding: 0px 25px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border-wi {

  border-bottom: solid 5px white

}

.tp-project-3-border.color-blue span {
  background: linear-gradient(
    90deg,
    rgba(0, 166, 244, 0.9) 0%,    /* bleu vif */
    rgba(64, 186, 245, 0.8) 33%,
    rgba(128, 216, 247, 0.7) 66%,
    rgba(200, 240, 255, 0.6) 100% /* bleu ciel très clair */
  );
}

.tp-project-3-border.color-green span {
  background: linear-gradient(
    90deg,
    rgba(17, 61, 60, 0.9) 0%,   /* vert profond */
    rgba(34, 102, 88, 0.8) 33%,
    rgba(46, 139, 87, 0.7) 66%,
    rgba(144, 238, 144, 0.6) 100% /* vert clair */
  );
}

.tp-project-3-border.color-yellow span {
  background: linear-gradient(
    90deg,
    rgba(250, 210, 140, 0.9) 0%,   /* jaune pastel doré */
    rgba(252, 220, 160, 0.8) 33%,
    rgba(253, 230, 180, 0.7) 66%,
    rgba(255, 245, 220, 0.6) 100%  /* crème doux */
  );
}

.tp-project-3-border.color-azure span {
  background: linear-gradient(
    90deg,
    rgba(0, 96, 160, 0.9) 0%,    /* bleu nuit azur */
    rgba(0, 128, 192, 0.8) 33%,  /* bleu azur */
    rgba(0, 166, 244, 0.7) 66%,  /* ton bleu principal */
    rgba(128, 216, 247, 0.6) 100% /* bleu clair lumineux */
  );
}

.tp-theme-settings-open {
  position: absolute;
  right: 100%;
}

.tp-btn-project-sm {
  height: 32px;
  line-height: 32px;
  border-radius: 20px;
  padding: 0 22px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  transition: all 0.3s;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--tp-common-black); /* texte noir */
  border: 1px solid rgba(0, 0, 0, 0.12); /* bordure noire très légère */
  background-color: var(--tp-common-white); /* fond blanc */
}

.tp-btn-project-sm:hover {
  background-color: var(--tp-common-black); /* fond noir */
  border-color: var(--tp-common-black);
  color: var(--tp-common-white); /* texte blanc */
}

.tp-project-3-title-sm {
  font-size: 90px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.9px;
  color: black;
  font-family: var(--tp-ff-marcellus);
  margin-bottom: 30px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tp-project-3-title-sm {
    font-size: 65px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tp-project-3-title-sm {
    font-size: 70px;
  }
}
@media (max-width: 767px) {
  .tp-project-3-title-sm {
    font-size: 40px;
  }
}

.rfm-marquee-container {
  overflow-y: hidden;
  position: relative;

  /* Masque dégradé qui rend les bords transparents */
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;

  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
